venv
__pycache__
*.pyc
.idea
scripts
*.zip
htmlcov
.coverage
.DS_Store
/.vs/audiot-hassmediaplayer-shairport/FileContentIndex/019ad665-2095-44dc-8964-463ec5c93132.vsidx
/.vs/audiot-hassmediaplayer-shairport/v17/.wsuo
/.vs/audiot-hassmediaplayer-shairport/FileContentIndex/084b3a17-7490-497a-99db-5f602869e4af.vsidx
/.vs/audiot-hassmediaplayer-shairport/v17/DocumentLayout.json
*.sqlite
/.vs/VSWorkspaceState.json
/.vs/audiot-hassmediaplayer-shairport/FileContentIndex/5c045d31-49be-43ed-9a2e-0f9c23ed29f0.vsidx
/.vs/audiot-hassmediaplayer-shairport/FileContentIndex/0802460b-7500-403b-8eb6-e422fd155a63.vsidx
/.vs/audiot-hassmediaplayer-shairport/FileContentIndex
